main {
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-areas: "header"
                         "content"
                         "buttons"
                         "footer";
}

#header {
    display: grid;
    flex-flow: row;
    grid-area: header;
}
    .about {
        display:;
    }

    .store {
        display:;
    }

    .gmail {
        display:;
    }

    .images {
        display:;
    }

    .signin {
        display:;
    }

#content {
    display: grid;
    grid-area: content;
}

    .logo {
        display:;
    }

    .search-bar {
        display:;
    }

#buttons {
    display: grid;
    grid-area: buttons;
}
    .google-search {
        display:;
    }

    .im-feeling-lucky {
        display:;
    }

#footer {
    display: grid;
    grid-area: footer;
}

    .advertise {
        display:;
    }

    .business {
        display:;
    }

    .how-search-works {
        display:;
    }

    .privacy {
        display:;
    }

    .terms {
        display:;
    }

    .settings {
        display:;
    }