html, body {
padding: 0;
margin: 0;
}

 .container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
}

.header {
    display: grid;
    grid-template-columns: 8% 70% 1fr 1fr 1fr;
}

    .about {
        display: grid;
    }

    .store {
        display: grid;
    }

    .gmail {
        display: grid;
    }

    .images {
        display: grid;
    }

    .signin {
        display: grid;
    }

.content {
    display: grid;
    justify-content: center;
}

    .logo {
        display: grid;
    }

    .search-bar {
        display: grid;
    }

.buttons {
    text-align: center;
    padding-top: 10px;

}
    #google-search {
        border-radius: 16px;
        
    }

    #im-feeling-lucky {
        border-radius: 16px;
        
    }

.footer {
    display: grid;
    grid-template-columns: 10% 10% 52% 10% 10% 10%;
}

    .advertise {
        display: grid;
    }

    .business {
        display: grid;
    }

    .how-search-works {
        display: grid;
    }

    .privacy {
        display: grid;
    }

    .terms {
        display: grid;
    }

    .settings {
        display: grid;
    }